<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Edilson Laverde Molina</title>
    </head>
    <body>
        <!--pagína principal informacín básica-->
        {% include './pages/principal.html' %}
        <!--pagína trabajos-->
        {% include './pages/jobs.html' %}
        <!--pagína estudios-->
        {% include './pages/curses.html' %}
        <!--pagína trabajos-->
        {% include './pages/works.html' %}
        <!--pagína referencias-->
        {% include './pages/references.html' %}
    </body>
</html>